{include file="inicio.html" title="Consultas de Concejos Comunal"}
{$f1}

{if $datos}
<h4>Concejo Comunal Solicitados</h4>
<div id="resultados">
<table  class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Rif</th>
		<th>Nombre</th>
		<th>Tlf Fijo</th>
		<th>Tlf Movil</th>
		<th>&nbsp;</th>
	</tr>
<thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos[p].rif}</td>
		<td>{$datos[p].nombre}</td>
		<td>{$datos[p].tlf_fijo}</td>
		<td>{$datos[p].tlf_movil}</td>
		<td><a href="modificar_concejo_comunal.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Modificar</strong>",WIDTH, 70)' src="./imagenes/boton1.png" onmouseout='return nd();'/></a></td>
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	{if $error1 eq 2} 
		<h3>NO SE ENCONTRÓ CONCEJO COMUNAL CON ESOS PARAMETROS, VERIFIQUE...</h3>
	{/if}
{/if}
{include file="final.html"}