{include file="inicio.html" title="Consultas de Solicitantes"}
{$f1}

{if $datos}
<h4>Solicitantes Encontrados</h4>
<div id="resultados">
<table  class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Cedula o Rif</th>
		<th>Nombre y Apellidos o razón Social</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos[p].id}</td>
		<td>{$datos[p].apellido}, {$datos[p].nombre}</td>
		<td><a href="ficha_solicitantes.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Ver Ficha</strong>",WIDTH, 70)' src="./imagenes/ver.ico" onmouseout='return nd();'/></a></td>
		<td><a href="modificar_solicitantes.php?id={$datos[p].id}"><img onmouseover='overlib("<strong>Modificar</strong>",WIDTH, 70)' src="./imagenes/boton1.png" onmouseout='return nd();'/></a></td>
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	{if $error1 eq 2} 
		<h3>NO SE ENCONTRÓ SOLICITANTES CON ESOS PARAMETROS, VERIFIQUE...</h3>
	{/if}
{/if}
{include file="final.html"}