<!-- /Contenido-->
			</div><!-- contenido -->	
			<p>
			<hr/ color = "red" size "2">
			<div id="bannerpie" align="center"><a href="http://www.inti.gob.ve"><img src="./imagenes/bannerpie.png" width="1050" height="90"/></a></div>
			<div id="logo" align="center"><a href="http://www.inti.gob.ve"><img src="./imagenes/logotierras.png"width="400" height="50"//></a></div>
			<hr/ color = "red" size "2">
			<div id="pie" align="center"> Desarrollado por: Marcos Torrealba 
                  </div><!-- pie -->		
				  </div><!-- fondo -->	
	</body>
</html>
{literal}
<script>
$(document).ready(function(){
   	$(".claseiframe").fancybox({
				'width'				: '98%',
				'height'			: '98%',
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe'
			});
});
</script>
{/literal}