<!-- /Contenido-->
			</div><!-- contenido -->	
			<div id="pie" align="center"> Desarrollado por: Marcos Torrealba 
                  </div><!-- pie -->		
				  </div><!-- fondo -->	
	</body>
</html>
{literal}
<script>
$(document).ready(function(){
   	$(".claseiframe").fancybox({
				'width'				: '98%',
				'height'			: '98%',
				'autoScale'			: false,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe'
			});
});
</script>
{/literal}