<html>
	<head>
		<link rel="shortcut icon" href="./imagenes/favicon.ico" type="image/x-icon" /> 
		<link rel="icon" href="./imagenes/favicon.ico" type="image/x-icon" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="robots" content="noindex,nofollow"/>
		<title>{$title|default:"ORT - TRUJILLO"}</title>
		<link rel="stylesheet" type="text/css" href="./estilo/layout.css"/> 
		<link rel="stylesheet" href="./estilo/tinydropdown.css" type="text/css" /><!-- Para el Menú -->
		<link rel="stylesheet" type="text/css" href="./estilo/cnc.css"/> 
		<link rel="stylesheet" type="text/css" href="./estilo/layoutprint.css" media="print"/>
		<script type="text/javascript" src="./js/domtableenhance.js"></script>
		<script type="text/javascript" src="../libreriasphp/FH3/FHTML/overlib/overlib.js"></script>
		<script type="text/javascript" src="./js/tinydropdown.js"></script><!-- Para el Menú -->
		<script type="text/javascript" src="../libreriasjs/sortable/sortable.js"></script>
		<script type="text/javascript" src="./js/jquery/jquery.min.js"></script><!-- Jquery -->
		<script type="text/javascript" src="./js/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<link rel="stylesheet" type="text/css" href="./js/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
	</head> 
	<body topmargin="0"  background="./imagenes/fondo1.jpg";>
		<div id = "fondoreporte">
		<div id="cintillo_reporte" align="center"><img src="./imagenes/cintillo.jpg" width="1050" height="60"/></div>
		<div id="titulo_reporte" align="center"> <br/> OFICINA REGIONAL DE TIERRAS DEL ESTADO TRUJILLO</div><!-- titulo -->	<br/>
			<div id="menu">{if $smarty.session.usuario}
				<ul id="mimenu" class="mimenu">
					<li><span>Solicitantes</span>
						<ul>
							<li><a href="registrar_solicitantes.php">Agregar</a></li>
							<li><a href="consmod_solicitantes.php">Consultar / Modificar</a></li>
						</ul>
					</li>
					<li><span>Expedientes</span>
						<ul>
							<li><a href="registrar_expedientes.php">Agregar</a></li>
							<li><a href="consmod_expediente.php">Consultar / Modificar</a></li>
						</ul>
					</li>
					<li><span>Movimientos</span>
								<ul>
									<li><a href="registrar_movimientos.php">Agregar</a></li>
									<li><a href="consmod_movimientos.php">Consultar / Modificar</a></li>
								</ul>
							</li>
					<li><span>Personal</span>
						<ul>
							
							<li><a href="registrar_personal.php">Agregar</a></li>
							<li><a href="consmod_personal.php">Consultar - Modificar</a></li>
							<li><a href="cambiar_clave.php">Cambiar_clave</a></li>
						</ul>
					</li>
					<li><span>Reportes</span>
					<ul>
						<li><a href="#">Expedientes</a>
							<ul>
								<li><a href="rp_frm_fecha.php">Por Fecha</a></li>
								<li><a href="rp_frm_concejo.php">Por Consejo</a></li>
								<li><a href="rp_frm_plan.php">Por Plan</a></li>
								<li><a href="rp_frm_procedimiento.php">Por Procedimiento</a></li>
								<li><a href="rp_frm_status.php">Por Status</a></li>
								<li><a href="rp_frm_tipo.php">Por Tipo</a></li>
								<li><a href="rp_frm_municipio.php">Por Municipio</a></li>
							</ul>
						</li>
						<li><a href="#">Movimientos</a>
							<ul>
							<li><a href="rp_frm_movixfecha.php">Por Fecha</a></li>
							<li><a href="rp_frm_movixdependencia.php">Por Dependencia</a></li>
							</ul>
						</li>
					</ul>
					</li>
					<li><span>Admin BD</span>
						<ul>
							<li><a href="asentamientos.php">Asentamientos</a></li>
							<li><a href="dependencias.php">Dependencias</a></li>
							<li><a href="municipios.php">Municipios</a></li>
							<li><a href="parroquias.php">Parroquias</a></li>
							<li><a href="programas.php">Programas Asociados</a></li>
							<li><a href="niveles.php">Niveles de Acceso</a></li>
							<li><a href="privilegios.php">Permisos de Usuario</a></li>
							<li><a href="status.php">status Solicitudes</a></li>
							<li><a href="procedimientos.php">T. Procedimientos</a></li>
							<li><a href="#">Consejo Comunal</a>
								<ul>
									<li><a href="registrar_concejo_comunal.php">Agregar</a></li>
									<li><a href="consmod_concejo_comunal.php">Consultar / Modificar</a></li>
								</ul>
							</li>
							<li><a href="#">Funcionarios</a>
								<ul>
									<li><a href="registrar_funcionarios.php">Agregar</a></li>
									<li><a href="consmod_funcionarios.php">Consultar / Modificar</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="index.php">Salir</a></li>
				</ul>{/if}
			</div><!-- menudiv -->		
			{literal}
			<script type="text/javascript">
				var dropdown=new TINY.dropdown.init("dropdown", {id:'mimenu', active:'menuhover'});
			</script>{/literal}
			<div id="contenido_reporte"><!-- Contenido -->