{include file="inicio.html" title="Parroquias"}
<table width="90%">
<tr>
	<td>{$f1}
	<div id="mensaje">{$smarty.session.mensaje}</div>
</td>
</tr>
</table>
<p></p>
<div id="resultados">
<table class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
			<tr >
				<th>Nº</th>
				<th>Nombre</th>
				<th>Municipios</th>
				<th>&nbsp;</th>
			</tr>
</thead>
<tbody>
			{section name=i loop=$parroquia}
			<tr class="linea{cycle values='1,2'}">
			   <td>{$parroquia[i].id}</td>
			   <td>{$parroquia[i].nombre}</td>
			   <td>{$parroquia[i].municipio_id}</td>
			   <td width="10%"><a href="?id={$parroquia[i].id}"><img onmouseover='overlib("<strong>Modificar</strong>",WIDTH, 70)' src="./imagenes/boton1.png" onmouseout='return nd();'/></a></td>
			</tr>
			{/section}
</tbody>
			</table>
</div>
<p></p>
{include file="final.html"}

