{include file="inicio2.html" title="Consultas de Solicitantes"}
<h4>BUSQUEDA DE SOLICITANTES</h4>

{$f1}

{if $datos}
<h4>Solicitantes Encontrados</h4>
<div id="resultados">
<table  class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Cedula o Rif</th>
		<th>Nombre y Apellidos o razón Social</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos[p].id}</td>
		<td>{$datos[p].apellido}, {$datos[p].nombre}</td>
		<td><a href="javascript:void(0)" onClick="actualizar('{$datos[p].id}','{$datos[p].nombre}','{$datos[p].apellido}');"><img onmouseover='overlib("<strong>Seleccionar</strong>",WIDTH, 70)' src="./imagenes/seleccionar.ico" onmouseout='return nd();'/></a></td></td>
		
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	{if $error1 eq 2} 
		<h3>NO SE ENCONTRÓ SOLICITANTES CON ESOS PARAMETROS, VERIFIQUE...</h3>
	{/if}
{/if}
{include file="final2.html"}
{literal}
<script>
function actualizar(id,nombre,apellido)
{  
	if (document.forms["personal"]=opener.document.forms["personal"])
	{
		opener.document.forms["personal"].solicitante_id.value=id;
		opener.document.forms["personal"].solicitante_nombre.value=nombre;
		opener.document.forms["personal"].solicitante_apellido.value=apellido;
	}
	close();
}
</script>
{/literal}