{include file="inicio2.html"}
<div id="resultados_reporte">
<p>
<div id = "indice">REPORTE DE MOVIMIENTOS POR DEPENDENCIA </br>Dependencia: {$datos.dependencia_nombre}</div>
</p>
{if $datos}
<div id="resultados">
<table  class="enhancedtable" border="0" cellspacing="3" cellpadding="3" width="100%">
<thead>
	<tr> 
		<th>Fecha</th>
		<th>Tipo</th>
		<th>Entrega</th>
		<th>Recibe</th>
		<th>Expediente</th>
		<th>Dependencia</th>
		<th>Observacion</th>
	</tr>
<thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td>{$datos.datos[p].fecha}</td>
		<td>{$datos.datos[p].tipo}</td>
		<td>{$datos.datos[p].func_entrega_id}</td>
		<td>{$datos.datos[p].func_recibe_id}</td>
		<td>{$datos.datos[p].expediente_id}</td>
		<td>{$datos.datos[p].dependencia_id}</td>
		<td>{$datos.datos[p].observacion}</td>
	</tr>{/section}
</tbody>
</table>
</div>
{else}
	<h3>NO SE ENCONTRÓ NINGUN DATO QUE CORRESPONDA, VERIFIQUE...</h3>
{/if}
{include file="final3.html"}
